:root   {
    --green: #46877b;
    --green-transparant: rgb(70 135 123 / 0.8);
    --bg: #ffffff;
    --shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;  
    --animate-duration: 1.5s;
    --animate-delay: 1.5s;
}

::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}

body  {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;  
    /* min-height: 4000px; */
    background-color: var(--bg);
    overflow-x: hidden;
}

/* Home */
.home::before   {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/desa.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home   {
    position: relative;
    min-height: 100vh;
}

.home h1, .home h3  {
    text-shadow: var(--shadow);
}

.home h1    {
    font-size: 3.5rem;
    font-weight: 600;
}

.home h3    {
    font-size: 2rem;
}
/* Home */


/* Navigation Bar */
.mynavbar   {
    font-size: 0.8rem;
    /* font-weight: 600;  */
    background-color: var(--green-transparant);
}

.mynavbar .nav-link {
    color: white;
}

.mynavbar .dropdown-menu .dropdown-item    {
    font-size: 0.9rem;
    font-weight: 500;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title  {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.mynavbar .dropdown-item:hover    {
    background-color: var(--green);
    color: white;
}
/* Navigation Bar */

/* Section - Struktur Pemerintah */
.strukturpemerintah {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.strukturpemerintah h2  {
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--green);
}

.strukturpemerintah img {
    width: 800px;
}
/* Section - Struktur Pemerintah */

/* Section - Visi & Misi Desa */
.visimisi   {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 2rem;
    background-color: rgb(93 142 133 / 0.3);
}

.visimisi h2    {
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;
}

.visimisi h4    {
    font-weight: 600;
    margin-bottom: 1rem;
}
/* Section - Visi & Misi Desa */

/* Section - Sejarah Desa */
.sejarahdesa    {
    min-height: 80vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 2rem;
}

.sejarahdesa h2 {
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;
}

.sejarahdesa img   {
    width: 500px;
    margin-top: 6rem;
    border-radius: 20px;
}
/* Section - Sejarah Desa */

/* Section - Tata Tertib Desa */
.tatatertib     {
    min-height: 80vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 2rem;
    background-color: rgb(93 142 133 / 0.3);
}

.tatatertib h2  {
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;
}
/* Section - Tata Tertib Desa */

/* Statistik Kependudukan */
.statistik  {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 2rem;
}

.statistik h2   {
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;
}

.statistik span   {
    font-size: 5rem;
    font-weight: 600;
}

.statistik span h2,
.statistik span h5  {
    font-weight: 600;
}

/* Statistik Kependudukan-Tutup */

/* Pengaduan Masyarakat */

.pengaduan  {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* background-color: var(--green-transparant); */
    /* border: 2px solid black; */
}

.pengaduan h2   {
    color: var(--green);
    font-weight: 600;
    margin-bottom: 2rem;
}

/* Pengaduan Masyarakat-Tutup */




/* Footer */
.footer-container {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
  }
  
  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

/* Media Query */

/* Extra Large */
@media (max-width: 1200px)  {

}

/* Laptop */
@media (max-width: 992px)   {
    html    {
        font-size: 70%;
    }
}

/* Tablet */
@media  (max-width: 768px)  {
    html    {
        font-size: 70%;
    }

    .mynavbar .nav-link {
        font-size: 0.9rem;
        text-align: center;
        color: #000000;
    }

    .mynavbar .offcanvas-title  {
        font-size: 1.5rem;
        color: #000000;
    }

    .strukturpemerintah {
        min-height: 60vh;
    }

    .strukturpemerintah img {
        width: 450px;
    }

    .visimisi   {
        min-height: 70vh;
    }

    .sejarahdesa    {
        min-height: 70vh;
    }

    .sejarahdesa h2   {
        text-align: center;
    }

    .sejarahdesa img    {
        width: 400px;
    }

    .tatatertib {
        min-height: 60vh;
    }


}

/* Mobile Phone */
@media  (max-width: 576px)  {
   html {
    font-size: 60%;
   } 
}