:root {
  --green: #46877b;
  --green-transparant: rgb(70 135 123 / 0.8);
  --bg: #ffffff;
  --shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  --animate-duration: 1.5s;
  --animate-delay: 1.5s;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  /* display: none; */
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  /* min-height: 4000px; */
  background-color: var(--bg);
  overflow-x: hidden;
}

/* Home start */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/desa.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.home {
  position: relative;
  min-height: 100vh;
}

.home h1,
.home h3 {
  text-shadow: var(--shadow);
}

.home h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.home h3 {
  font-size: 2rem;
}
/* Home end */

/* Navbar start */
.mynavbar {
  font-size: 0.8rem;
  /* font-weight: 600;  */
  background-color: var(--green-transparant);
}

.mynavbar .nav-link {
  color: white;
}

.mynavbar .dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  font-weight: 500;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.mynavbar .dropdown-item:hover {
  background-color: var(--green);
  color: white;
}
/* Navbar end */

/* Struktur Pemerintah start */
.strukturpemerintah {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.strukturpemerintah h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--green);
}

.strukturpemerintah img {
  width: 800px;
}
/* Struktur Pemerintah end */

/* Visi & Misi Desa start*/
.visimisi {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 2rem;
  background-color: rgb(93 142 133 / 0.3);
}

.visimisi h2 {
  color: var(--green);
  font-weight: 600;
  margin-bottom: 2rem;
}

.visimisi h4 {
  font-weight: 600;
  margin-bottom: 1rem;
}
/* Visi & Misi Desa end */

/* Sejarah Desa start */
.sejarahdesa {
  min-height: 80vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 2rem;
}

.sejarahdesa h2 {
  color: var(--green);
  font-weight: 600;
  margin-bottom: 2rem;
}

.sejarahdesa img {
  width: 500px;
  margin-top: 6rem;
  border-radius: 20px;
}
/* Sejarah Desa end */

/* Tata Tertib Desa start */
.tatatertib {
  min-height: 80vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 2rem;
  background-color: rgb(93 142 133 / 0.3);
}

.tatatertib h2 {
  color: var(--green);
  font-weight: 600;
  margin-bottom: 2rem;
}
/* Tata Tertib Desa end*/

/* Statistik Kependudukan start*/
.statistik {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 2rem;
}

.statistik h2 {
  color: var(--green);
  font-weight: 600;
  margin-bottom: 2rem;
}

.statistik span {
  font-size: 5rem;
  font-weight: 600;
}

.statistik span h2,
.statistik span h5 {
  font-weight: 600;
}

/* Statistik Kependudukan end */

/* Pengaduan Masyarakat start */

.pengaduan {
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* background-color: var(--green-transparant); */
  /* border: 2px solid black; */
}

.pengaduan h2 {
  color: var(--green);
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Pengaduan Masyarakat end */

/* Footer start */
/* Footer end*/

/* Media Queries */

/* Extra Large */
@media (max-width: 1200px) {
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .mynavbar .nav-link {
    font-size: 0.9rem;
    text-align: center;
    color: #000000;
  }

  .mynavbar .offcanvas-title {
    font-size: 1.5rem;
    color: #000000;
  }

  .strukturpemerintah {
    min-height: 60vh;
  }

  .strukturpemerintah img {
    width: 450px;
  }

  .visimisi {
    min-height: 70vh;
  }

  .sejarahdesa {
    min-height: 70vh;
  }

  .sejarahdesa h2 {
    text-align: center;
  }

  .sejarahdesa img {
    width: 400px;
  }

  .tatatertib {
    min-height: 60vh;
  }
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
